[Unit]
Description=Samba container
Requires=docker.service
After=docker.service
After=media-mydisk.mount

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /srv/samba/docker-compose.yml up 
ExecStop=/usr/local/bin/docker-compose -f /srv/samba/docker-compose.yml stop

[Install]
WantedBy=default.target
